<!DOCTYPE html>

<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
        <a class="navbar-brand" href="#">SONGIMDB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#" routerLink ="/home">HOME <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#" routerLink= "/login">USER LOGIN</a>
            <a class="nav-item nav-link" href="#" routerLink= "/admin">ADMIN LOGIN</a>
            
          </div>
        </div>
      </nav>





<!-- this is where we have a link to login, and the functionalitites for unauthenticated users -->
</div>

<router-outlet></router-outlet>
