<p>admin-view works!</p>
<h2>grant site manager access to user</h2>
<hr>
<div>
<p>Optional: Enter user ID</p>
<hr>
<input type="text" [(ngModel)]= "userId" placeHolder = "enter userId">

<button (click)="enableUserAdmin()">ENABLE ADMIN</button>
</div>
<h2>mark song as hidden or clear it</h2>
<hr>

<h2>mark user as activated/deactivated</h2>
<hr>
<h2>access to dcma page</h2>
<hr>
<h2>find copyright violation songs</h2>
<button (click)="findCopyrightSongs">FIND COPYRIGHT SONGS</button>
<button (click)="logout()">LOGOUT</button>