<p>auth-view works!</p>
<h1>do functionalities with path /secure</h1>





<h2>CREATE REVIEW FOR SONG</h2>
<div>
<p>Enter Song ID</p>
<hr>
<input type="text" [(ngModel)]= "songId" placeHolder = "songId">
</div>
<hr>
<div>
<p>Enter Rating out of 5</p>
<hr>
<input type="Number" [(ngModel)]= "rating" min=0 max=5 >
</div>
<hr>
<div>
<p>Enter user ID</p>
<hr>
<input type="text" [(ngModel)]= "userWhoReviewed" placeHolder = "enter userId">
</div>
<hr>
<div>
<p>Enter any comments</p>
<hr>
<input type="text" [(ngModel)]= "comment" placeHolder = "enter comments">
</div>
<hr>
<button (click)="makeReview()">Add review</button>
<hr>



<h2>CREATE SONG</h2>
<div>
<p>Enter Song Title</p>
<hr>
<input type="text" [(ngModel)]= "title" placeHolder = "title">
</div>
<hr>

<div>
<p>Enter Song Artist</p>
<hr>
<input type="text" [(ngModel)]= "artist" placeHolder = "song artist">
</div>
<hr>
<div>
<p>Enter Song Album</p>
<hr>
<input type="text" [(ngModel)]= "album" placeholder= "album" >
</div>
<hr>
<div>
<p>Enter Song Year</p>
<hr>
<input type="Number" [(ngModel)]= "year" min =1700 max = 2019>
</div>
<hr>
<div>
<p>Enter Song TrackNo</p>
<hr>
<input type="Number" [(ngModel)]= "track" min =0 max = 25>
</div>
<hr>
<div>
<p>Enter Song Genre</p>
<hr>
<input type="text" [(ngModel)]= "genre" placeHolder = "enter genre">
</div>
<hr>
<div>
<p>Optional: Enter Rating out of 5</p>
<input type="Number" [(ngModel)]= "ratingAddSong" min=0 max=5 >
</div>
<hr>
<div>
<p>Optional: Enter user ID</p>
<hr>
<input type="text" [(ngModel)]= "userWhoReviewedAddSong" placeHolder = "enter userId">
</div>
<hr>
<div>
<p>Optional: Enter any comments</p>
<hr>
<input type="text" [(ngModel)]= "commentAddSong" placeHolder = "enter comments">
</div>
<button (click)="createSong()">Add Song</button>
<hr>



<hr>

<hr>
<h2>can add review and song at same time</h2>
<button (click)="logout()">LOGOUT</button>