<p>home works!</p>
<h1>OPEN BACKEND FUNCTIONALITIES</h1>
<h2>About:</h2>
<p>This is a MEAN Stack web application that has a variety of functionalities. 
  It is a simple app that enables a user to create,view,review various songs. 
</p>



<div id=" play songList">
    <button id="listOfSongs" (click)="getSongsList()">View Songs</button>
    <ul *ngIf = "songs">
        <p>a song obj exists</p> 
         <li *ngFor="let obj of songs">
           <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    {{obj.title}}
                </mat-panel-title>
                <mat-panel-description>
                  Click on title to expand
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-panel-description>
                
                {{obj | json}}
              </mat-panel-description>
              
            </mat-expansion-panel>
        </li>
    </ul>
</div>




<br>
<br>
<br>
<div class = "reviewSearch">
    <h2>REVIEW SEARCH</h2>
    <input type="text" [(ngModel)]= "id" placeHolder = "ENTER SONG ID">
    <button id="findReview" (click)="getReview()" >VIEW REVIEWS</button>
    <ul *ngIf = "reviews">
        <p>a review obj exists</p> 
         <li *ngFor="let obj of reviews">
           {{obj | json}}
          </li>
         
     </ul>
</div>
    
