<p>home works!</p>
<h1>OPEN BACKEND FUNCTIONALITIES</h1>
<h2>About:</h2>
<p>This is a MEAN Stack web application that has a variety of functionalities. 
  It is a simple app that enables a user to create,view,review various songs. 
</p>



<div id=" play songList">
    <button id="listOfSongs">View Songs</button>
</div>
<br>
<br>
<br>
<div class = "reviewSearch">
        <h2>REVIEW SEARCH</h2>
        <input type="text"  placeHolder = "enter songName">
        <button id="findReview" >VIEW REVIEWS</button>
</div>
    
